html {
    background-color: orangered;
}

.hero-title {
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    color: white;
}

.container {
    text-align: center;
}

.addSign {
    font-size: 5em;
    /*    float: right;
    */
    position: relative;
    margin-top: -5%;
    margin-left: 18%;
}

.contactDetails {}

saveBtn {}


/*html auto capitalize is not workin :(*/

input {
    text-transform: capitalize
}
